

.red {
  position:relative;
  top:60px;
  bottom:100px;
  left: 200px;
  right: 100px;
  width: 400px;
  height: 400px;
  background-color: red;
}

.purple {
  position:absolute;
  top:150px;
  bottom:200px;
  left: 300px;
  right:0px;
  width:210px;
  height:210px;
  background-color: purple;
}

.yellow {
  position:absolute;
  top:150px;
  bottom:200px;
  left: 300px;
  right:0px;
  width:100px;
  height:100px;
  background-color: yellow;
}

.blue {
  position:absolute;
  top:500px;
  bottom:60px;
  left: 206px;
  right:100px;
  width:400px;
  height:400px;
  background-color: blue;
}
.green {
  position:absolute;
  top:597px;
  bottom:100px;
  left: 300px;
  right:0px;
  width:212px;
  height:212px;
  background-color: green;
}

.black {
  position:absolute;
  top:500px;
  bottom:700px;
  left: 205px;
  right:300px;
  width:96px;
  height:96px;
  background-color: black;
}
